.workspace {
    height: 100%;
    position: relative;
    width: 100vh;
    top: 10px;
    left: 10px;
    font: 700 12px system-ui;
  }
  
  .warehouse {
    position: relative;
    width: 2230px;
    height: 3570px;
    top: 10px;
    bottom: 30px;
    right: 10px;
    left: 10px;
    border-style: dotted;
    border-color: rgb(47,44,121);
    background-color: #fafcfa;
    border-radius: 3px;
    transform: scale(1);
  }
  
  .rack{
      position: absolute;
      background-color: rgb(211, 211, 211);
      border-radius: 10px;
      cursor: pointer;
  }

  .bay{
    position: absolute;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    border-style: inset;
    cursor: pointer;
  }

  .spot{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2.5px;
    border-style: dashed;
    border-radius: 10px;
  }
   
  .spot-1 {
    width: 50px;
    height: 50px;
    top: 2px;
    left: 2px;
  }

  .spot-2 {
    width: 50px;
    height: 50px;
    top: 2px;
    left: 60px;
    
  }

  .rack-1 {
    width: 500px;
    height: 70px;
    top: 10px;
    left: 10px;
  }
  
  .rack-2 {
    width: 1055px;
    height: 70px;
    top: 10px;
    left: 770px;
  }
  
  .rack-3 {
    width: 90px;
    height: 1790px;
    top: 195px;
    left: 10px;
   
  }
  
  .rack-4 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 195px;
  }
  
  .rack-5 {
    
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 285px;
  }
  
  .rack-6 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 470px;
  }
  
  .rack-7 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 560px;
  }
  
  .rack-8 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 745px;
  }
  
  .rack-9 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 835px;
  }
  
  .rack-10 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 1020px;
  }
  
  .rack-11 {
    width: 90px;
    height: 1680px;
    top: 195px;
    left: 1110px;
  }
  
  .rack-12 {
    width: 90px;
    height: 1600px;
    top: 275px;
    left: 1295px;
  }
  
  .rack-13 {
    width: 90px;
    height: 1600px;
    top: 275px;
    left: 1385px;
  }
  
  .rack-14 {
    width: 1285px;
    height: 90px;
    top: 1990px;
    left: 30px;
  }
  
  .rack-15 {
    width: 90px;
    height: 2745px;
    top: 280px;
    left: 1570px;
  }
  
  .rack-16 {
    width: 1030px;
    height: 90px;
    top: 3210px;
    left: 1050px;
  }
  
  .rack-17 {
    width: 90px;
    height: 1175px;
    top: 1852.5px;
    left: 1845px;
  }
  
  .rack-18 {
    width: 90px;
    height: 1175px;
    top: 1852.5px;
    left: 1935px;
  }
  
  .rack-19 {
    width: 90px;
    height: 1397.5px;
    top: 1882.5px;
    left: 2120px;
  }
  
  .rack-20 {
    width: 350px;
    height: 90px;
    top: 195px;
    left: 1570px;
  }
  
  .rack-21 {
    width: 180px;
    height: 85px;
    top: 195px;
    left: 1295px;
  }
  
  .rack-22 {
    width: 180px;
    height: 90px;
    top: 3025px;
    left: 1570px;
  }
  
  .rack-23 {
    width: 180px;
    height: 90px;
    top: 3025px;
    left: 1845px;
  }
  
  
  .rack-24 {
    width: 90px;
    height: 390px;
    top: 1000px;
    left: 2120px;
  }
  
  .rack-25 {
    width: 90px;
    height: 1175px;
    top: 1852.5px;
    left: 1660px;
  }
  
  .rack-26 {
    width: 175px;
    height: 150px;
    top: 2700px;
    left: 940px;
  }
  
  .rack-27 {
    width: 175px;
    height: 150px;
    top: 2200px;
    left: 940px;
  }
  
  
  
  .bay-1 {
    width: 118px;
    height: 60px;
    left: 2px;
    top: 2px;
  }
  
  .bay-2 {
    width: 118px;
    height: 60px;
    left: 124px;
    top: 2px;
  }
  
  
  